* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8e0e0;
  font-family: "Yuji Syuku", serif;
  color: #000;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  border-bottom: 3px solid #000;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

span {
  font-size: 1em;
  margin-right: 20px;
}

.profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img {
  width: 40%;
  height: 75%;
  object-fit: cover;
}
